img {

	
	 width:100%;

}


	

}
body {

	
 
}
.derecha{
	margin-left: 8%;
	margin-top: 8%;
}

.col-sm-5{
	padding-bottom: 2.2em;
	padding-top: 1.8em;
}

a{
color: black;
text-decoration-style: none;
}

a li{
	
	list-style:none;
	
}

#Fondo{
width: 100%;
min-height: 85px;
position: absolute;
}

