.tabla_usuarios td, .tabla_usuarios th{
    padding: 0.25em 0.5em 0.25em 0.5em;
}

.ventanamodal{
    background: white;
    border: 2px solid black;
    width: 50vw;
    height: 7em;
    position: fixed;
    left: 25vw;
    top: 25vh;
    padding: 1em;
}

.barra_usuario li{
    list-style-type: none;
}